@import '../../assets/scssVariables.scss';

.table__block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;

	&Item {
		display: flex;
		align-items: center;

		&_score {
			font-size: 30px;
			font-weight: bold;
			margin-left: 42px;
			margin-right: 35px;
		}

		&_number {
			margin-right: 30px;
			font-size: 16px;
			font-weight: 700;
			color: $leaderNumber;
		}
		&_name {
			font-style: 14px;
			font-weight: 400;
		}
		&_position {
			margin-right: 35px;
		}
		&_editBtn {
			cursor: pointer;
			border: none;
			background: $white;
		}
	}
}
